@keyframes fade-in-y {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-in-x {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes appear {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes appear-btn {
  0% {
    color: #5f458c00;
    width: 6rem;
  }

  80% {
    color: #5f458c00;
    width: 18rem;
  }

  100% {
    opacity: 1;
    color: #5f458c;
    width: 18rem;
    visibility: initial;
  }
}

@keyframes appear-form {
  to {
    transform: scaleX(1);
  }
}

@keyframes appear-placeholder {
  to {
    opacity: 1;
  }
}

@keyframes flamingo-animation {
  to {
    transform: translateY(0.8rem) rotate(-6deg);
  }
}

@keyframes flamingo-appear {
  to {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

@keyframes leaf-blue-2-appear {
  20% {
    opacity: 1;
    transform: rotate(0);
  }

  40% {
    transform: rotate(12deg);
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes leaf-blue-1-appear {
  20% {
    opacity: 1;
    transform: rotate(0);
  }

  40% {
    transform: rotate(-12deg);
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(-5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes suitcase-appear {
  80% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes move-right {
  from {
    transform: translateX(-100%);
  }

  to {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes move-left {
  from {
    transform: translateX(100%);
  }

  to {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes appear-from-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-first-prize {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: translateX(35rem);
  }
  100% {
    transform: translateX(0);
  }
}