@keyframes fade-in-y {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-in-x {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes form {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 21rem);
  }
}

@keyframes form-stop-scaling {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 210px);
  }
}

@keyframes form-mobile-portrait {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 5rem);
  }
}

@keyframes form-tablet {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 9rem);
  }
}


@keyframes appear {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes appear-btn {
  0% {
    opacity: 1;
    color: #5f458c00;
    width: 6rem;
  }

  80% {
    opacity: 1;
    color: #5f458c00;
    width: 18rem;
  }

  100% {
    opacity: 1;
    color: #5f458c;
    width: 18rem;
  }
}