$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$secondary: #3e72ee;
$secondary-light: #a0ceff;

$tertiary: #90b8e2;
$tertiary-contrast: $secondary;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;


$medium: 300ms;
$medium2: 400ms;
$long: 500ms;


$animated-cubic-bezier: cubic-bezier(.6,-0.25,.41,1.76);
$smooth-cubic-bezier: cubic-bezier(0.0, 0.0, 0.2, 1);
